<div class=" p100 inner-header scrollpoint sp-effect1">
  <div class="container">
    <center>
      <h1>Blogs</h1>
      <!-- <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blogs"> Blogs </a></li>
      </ul> -->
    </center>
  </div>
</div>
<%= render 'blogs/blogsindex' %>
