<!-- Page Banner -->
<div class="container-fluid no-left-padding no-right-padding page-banner">
    <!-- Container -->
    <div class="container">
        <h3 class="tc_white">Short Blog </h3>
        <ol class="breadcrumb">
            <li><a class="tc_white tc_white_h" href="/">Home</a></li>
            <li><a class="tc_white tc_white_h" href="<%=blogs_path%>">Blogs</a></li>
            <li class="active tc_white">single post</li>
        </ol>
    </div><!-- Container /- -->
</div><!-- Page Banner /- -->

<div class="container-fluid no-left-padding no-right-padding welcome-section">
        <div class="container">
                <div class="row">
                         <div class="col-md-4 welcome-box welcome-box1">
                       <h3 class="tc_green_h tc_green">Sustainable Tourism</h3>
                       <p>The tourism industry has grown at a fast pace in the last 2 decades, as travelling has become more exciting and adventurous</p>
                       <a href="#ow_wel-5" class="mfp-content tc_dark tc_green_h">Read More</a> 
                        <div class="zoom-anim-dialog mfp-hide small-dialog" id="ow_wel-5">
                                <h3 class="tc_dark text-center">Sustainable Tourism</h3>
                               <p align="justify"><span style="font-family: Calibri, serif;">The tourism industry has grown at a fast pace in the last 2 decades, as travelling has become more exciting and adventurous, but with adventure it also has its own adverse effects on the nature. The travel industry has put the environment at a risk by causing pollution, urbanization, population growth along with a threat to the indigenous culture.</span></p>
                                <p align="justify"><span style="font-family: Calibri, serif;">Sustainable tourism is about re-defining and adapting the economic, social and environmental aspects</span></p>
                                <p align="justify"><span style="font-family: Calibri, serif;">ECOFNB favours an approach to reduce the waste and minimising the use of natural resources while travelling; from recycling to cycling, there is always something we can do to reduce our impact on the destination. Our focus is to follow suitable waste management practices i.e. preventing, minimising, reducing, reusing and recycling.</span></p>
                                <p align="justify"><span style="font-family: Calibri, serif;">Sustainable tourism aims at responsible travel, having the least possible impact
                                on the environment. Tourists are held with the responsibility to use the natural
                                resources wisely.</span></p>

                            </div>
                    </div>

                </div><!-- Row /- -->
            </div>
        </div>


                
                <style type="text/css">
                    .welcome-box1 > h3::after {
               background-color: #ffff;                
}
                </style>