<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <p align="justify"><a class="navbar-brand" href="/"><img src="https://ecofnb.s3.ap-south-1.amazonaws.com/logo/logo121.png" alt="logo" height="100" width="100"></a></p>
      <p align="justify"><br /> </p>
      <p align="justify">Dear <strong> <%= @stay_home.merchant.name%> </strong> ,</p>
      <p align="justify"><span style="color: #000000;"><span style="font-size: small;">Your stay has been apprroved by the admin.</span></span></p>
      <p align="justify">Your stay registered with Ecofnb <%= StayHome::STATUS_REVERSE[@stay_home.status]%></p>
      <p align="justify">You can add room, with your stay home with your merchant panel url:<a href="http://www.ecofnb.com/merchants/sign_in">www.ecofnb.com</a></p>
      <p align="justify">For further assistance mail us at <a href="mailto:admin@ecofnb.com">admin@ecofnb.com</a>.</p>
      <p align="justify">Thanks &amp; Regards,</p>
      <p align="justify">ECOFNB Team</p>
      <p align="justify"><br /> </p>
      <p align="justify"><br /> </p>
      <p><br /> </p>
      <p><br /> </p>
      <p><br /> </p>
      <p><br /> </p>
   </body>
</html>