<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <p align="justify"><a class="navbar-brand" href="/"><img src="https://ecofnb.s3.ap-south-1.amazonaws.com/logo/logo121.png" alt="logo" height="100" width="100"></a></p>
      <p align="justify"><br /> </p>
      <p align="justify">Dear Partner ------,</p>
      <p>We are glad that you chose to partner with us!!</p>
      <p>In response to your positive reply of our mail, we would assist you join ECOFNB at every step.</p>
      <p>To Partner with ECOFNB:</p>
      <p>Click on <a href="http://www.ecofnb.com/">www.ecofnb.com</a> and click on Partner in the right top corner and sign-up on our website.</p>
      <p>Once you sign-up, you will be directed to Partner Dashboard.</p>
      <p>Add your property by clicking on &ldquo;ADD STAY&rdquo; option.</p>
      <p>Fill the required details of your property including a brief description about your property. Also mention the &ldquo;Stay Rules&rdquo; and your &ldquo;Cancellation Policy&rdquo;, if any.</p>
      <p>Click on &ldquo;ADD STAY IMAGES&rdquo; to add your accommodation images.</p>
      <p>After filling the complete details, click on &ldquo;Create Stay&rdquo;.</p>
      <p>As soon as you submit your stay details you will receive an email to confirm your stay&rsquo;s status from ECOFNB team soon.</p>
      <p>Once your stay is ACTIVE you are all set to receive bookings from our guests.</p>
   </body>
</html>