<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <p align="justify"><a class="navbar-brand" href="/"><img src="https://ecofnb.s3.ap-south-1.amazonaws.com/logo/logo121.png" alt="logo" height="100" width="100"></a></p>
      <p align="justify"><br /> </p>
      <p align="justify">Dear <strong> <%= @user.try(:name)%> </strong> ,</p>
      <p align="justify"><span style="color: #000000;"><span style="font-size: small;">Welcome to ECOFNB family!! We are happy to see you!!</span></span></p>
      <p align="justify">We want you to become our partner and join ECOFNB because you seem important to us. We deal with exquisite and nature-friendly Homestays, Farmstays, Organic Stays and Agrostays in Uttarakhand. Our focus is to protect the environment while sustaining ecotourism. Our theme is to provide eco-friendly and ecological stays to our guests. We focus on ensuring that our guests would have a comfortable and pleasant stay at your facility.</p>
      <p align="justify">We offer you an exclusive deal to be a part of our ECOFNB family. Register your property now and claim the exclusive offers.</p>
      <p align="justify">For further details, visit <a href="http://www.ecofnb.com/">www.ecofnb.com</a> and mail us at <a href="mailto:partnerssupport@ecofnb.com">partnerssupport@ecofnb.com</a>.</p>
      <p align="justify">Thanks &amp; Regards,</p>
      <p align="justify">ECOFNB Team</p>
      <p align="justify"><br /> </p>
      <p align="justify"><br /> </p>
      <p><br /> </p>
      <p><br /> </p>
      <p><br /> </p>
      <p><br /> </p>
   </body>
</html>