<aside class="widget widget_categories scrollpoint sp-effect3">
    <div class="widget-title">
        <h3 class="tc_dark">Links</h3>
    </div>
    <ul>
        <li><a class="tc_dark tc_green_h" href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a class="tc_dark tc_green_h" href="/ecofnb/about"><i class="fa fa-adn"></i>About</a></li>
        <li><a class="tc_dark tc_green_h" href="/ecofnb/founder_message"><i class="fa fa-user"></i>Founder Message</a></li>
        <li><a class="tc_dark tc_green_h" href="/galleries"><i class="fa fa-photo"></i>Gallery</a></li>
        <li><a class="tc_dark tc_green_h" href="<%= new_contact_path%>"><i class="fa fa-phone"></i>Contact</a></li>

    </ul>
</aside>