<section id="about">
  <div class="container">                
    <div class="section-heading scrollpoint sp-effect3">
      <h1>About Us</h1>
      <div class="divider"></div>
      <!-- <p>Oleose Beautiful App Landing Page</p> -->
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="about-item scrollpoint sp-effect2">
          <i class="fa fa-pie-chart fa-2x"></i>
            <!-- <h3>Easy setup</h3> -->
            <p style="font-family: 'Calibri', sans-serif;">Welcome to the magnificent beauty of Uttarakhand, from lofty mountains to clear blue skies, lush-green valleys to attractive landscapes, religious shrines to enchanting w<span id="dots1">...</span><span id="more1">aterfalls. We have taken a new initiative in the tourism industry. Ecofnb is an innovative online platform that works to nurture a society that will boom tourism in harmony with nature, economy and local communities.</p>
            <label onclick="myFunction1()" id="myBtn1" >Read more</label>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" >
        <div class="about-item scrollpoint sp-effect5">
          <i class="fa fa-map-marker fa-2x"></i>
          <!-- <h3>On-the-go</h3> -->
          <p style="font-family: 'Calibri', sans-serif;">We believe in providing a healthy travel holiday, enriching the local, diverse and authentic culture and religion of ongoing destination; while maintaining a balance with<span id="dots2">...</span><span id="more2">sustainability. Our effort is to make the people to economically empower themselves; utilize their spaces and talents to become the future Hospitality entrepreneurs of Uttarakhand.</p>
          <label onclick="myFunction2()" id="myBtn2" >Read more</label>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" >
        <div class="about-item scrollpoint sp-effect5">
          <i class="fa fa-users fa-2x"></i>
          <!-- <h3>Social connect</h3> -->
          <p style="font-family: 'Calibri', sans-serif;">We help our guests to make the right choice to find eco-friendly properties with a wide range of Homestays, Organic Stays, Farmstays and Agrostays to make their stay wort<span id="dots">...</span><span id="more">h experiencing.</p>
            <label onclick="myFunction()" id="myBtn" >Read more</label>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" >
        <div class="about-item scrollpoint sp-effect1">
          <i class="fa fa-chain fa-2x"></i>
          <!-- <h3>Dedicated support</h3> -->
          <p style="font-family: 'Calibri', sans-serif;">Our model is developed with the idea of truly understanding our client's individual requirements and expectations and offering customized individual holidays and travel p<span id="dots3">...</span><span id="more3">lans. With our knowledge of the history, religion, food, culture, and economy of Uttarakhand, combined with our flexibility of being able to provide you with the best services.</p>
            <label onclick="myFunction3()" id="myBtn3" >Read more</label>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
function myFunction1() {
  var dots = document.getElementById("dots1");
  var moreText = document.getElementById("more1");
  var btnText = document.getElementById("myBtn1");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
function myFunction2() {
  var dots = document.getElementById("dots2");
  var moreText = document.getElementById("more2");
  var btnText = document.getElementById("myBtn2");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
function myFunction3() {
  var dots = document.getElementById("dots3");
  var moreText = document.getElementById("more3");
  var btnText = document.getElementById("myBtn3");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
</script>
<style type="text/css">

</style>