
<div class="col-sm-9">
         <main class="site-main">
              <div class="container-fluid no-left-padding no-right-padding gallery-main gallery-masonry">
              <div class="row gallery-list">
                <div class="col-md-12 gallery-list">
                  <div class="gallery-slide">
                    <%# <div class="row"> %>
                      <%# <div class="col-md-4 bg-transparent"> %>
                        <%# <h3 style="text-align: center;"> We Are  </h3> %>
                        <img src="https://res.cloudinary.com/testing-aman-react/image/upload/v1584545427/ecofnb/dns1hpwjbv5ygptl6lkh.jpg" width="100%"/>
                      <%# </div>   %>
                    <%# </div> %>
                  </div>
              </div>
            </div>
            </div>
        </main>
  </div>
  <!-- <div class="col-md-1"></div> -->

