<!-- REVIEW START -->
  <section id="reviews">
    <div class="container">
      <div class="section-heading inverse scrollpoint sp-effect3">
        <h1>Reviews</h1>
        <div class="divider"></div>
        <p>Read What's The People Are Saying About Us</p>
      </div>
        <div class="row">
          <div class="col-md-10 col-md-push-1 scrollpoint sp-effect3">
            <div class="review-filtering">
              <div class="review">
                <div class="row">
                  <div class="col-md-2">
                    <div class="review-person">
                      <img src="https://via.placeholder.com/150" alt="review1" class="img-responsive">
                    </div>
                  </div>
                <div class="col-md-10">
                  <div class="review-comment">
                    <h5>“Nice place to visit. beauty at its best. very reasonable accomodation and food. staff is very friendly and co-operative. perfect for weekend getaway. authentic pahadi cuisine made by the local people.”</h5>
                    <p>
                      - Virendra Pratap Samrat
                      <span>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div><br>
            <div class="review rollitin">
              <div class="row">
                <div class="col-md-2">
                  <div class="review-person">
                    <img src="https://via.placeholder.com/150" alt="" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="review-comment">
                    <h5>“I could see the clear Himalayan view from my room in Mukteshwar. It was mind blowing. I loved it! ”</h5>
                    <p>
                      - Aman Sharma
                      <span>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div><br>
            <div class="review rollitin">
              <div class="row">
                <div class="col-md-2">
                  <div class="review-person">
                    <img src="https://via.placeholder.com/150" alt="review3" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="review-comment">
                    <h5>“Being close to nature has its own beauty and experience. Our stay owner was really great and helpful who guided us during our entire trip. We really enjoyed and had a mind refreshing trip. ”</h5>
                    <p>
                      - Laxmi Vishwakarma
                      <span>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div><br/>
            <div class="review rollitin">
              <div class="row">
                <div class="col-md-2">
                  <div class="review-person">
                    <img src="https://via.placeholder.com/150" alt="review3" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="review-comment">
                    <h5>“Amazing place for nature lovers and offers serene beauty and calm atmosphere”</h5>
                    <p>
                      - William Lawson
                      <span>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%#= render 'ecofnb/stays' %>
<!-- REVIEW END -->