<!--Stay_category Start Start-->
  <section class="services-area wf100">
    <div class="container">
      <ul>
        <!--box  start-->
        <li>
          <div class="sinfo">
            <a href="/">
              <img  class="img-responsive" src="https://necac.org/images/images/HDAbout.png" height="120px" width="120px" alt="">
              <h6>Home Stays</h6>
            </a>
          </div>
        </li>
        <!--box  end--> 
        <!--box  start-->
        <li>
          <div class="sinfo">
            <a href="/">
              <img class="img-responsive" src="http://s3-wp-lyleprintingandp.netdna-ssl.com/wp-content/uploads/2017/08/14050023/farm-safety_feature.jpg" height="120px" width="120px" alt="">
              <h6>Farm Stays</h6>
            </a>
          </div>
        </li>
        <!--box  end--> 
        <!--box  start-->
        <li>
          <div class="sinfo">
            <a href="/">
              <img class="img-responsive" src="https://www.umbriaecoresort.com/modulo/assets/box/logo_ico.png" height="120px" width="120px" alt="">
              <h6>Organic Stays</h6>
            </a>
          </div>
        </li>
        <!--box  end--> 
        <!--box  start-->
        <li>
          <div class="sinfo">
            <a href="/">
            <img class="img-responsive" src="https://www.localfarmers.in/wp-content/uploads/2018/10/TOP.png" alt="" height="120px" width="120px">
            <h6>Agro Stays</h6>
            </a>
          </div>
        </li>
        <!--box  end--> 
        <!--box  start-->
        <!--box  end-->
      </ul>
    </div>
  </section>
<!--Stay_category Start End--> 