
<div class="container-fluid no-left-padding no-right-padding welcome-section">
        <!-- Container -->
        <div class="container">
            <!-- Section Header -->
            <div class="section-header tcp_gray">
                <h3 class="tc_dark tcspan_green">welcome to <span>EcoFNB</span></h3>
                <p></p>
            </div><!-- Section Header /- -->
            <div class="welcome-content">
                <div class="welcome-bg">
                    <i><img src="<%= asset_path("ecofnblogo/globe1.png")%>" alt="Image" width ="300px"  /></i>
                </div>
                <!-- Row -->
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="welcome-box tcp_gray2">
                            <i class="fa fa-tencent-weibo bg_white brd_color_gray3 tc_gray3"></i>
                            <h3 class="tc_dark">Organic Farming</h3>
                            <p>The buzz about organic food has gained prominence in India, with an increased number of farmers</p>
                            <a href="#ow_wel-1" class="mfp-content tc_dark tc_green_h">Read More</a>
                            <div class="zoom-anim-dialog mfp-hide small-dialog" id="ow_wel-1">
                                <h3 class="tc_dark text-center">Organic Farming</h3>
							 <p align="justify"><span style="font-family: Calibri, serif;">The buzz about organic food has gained prominence in India, with an increased number of farmers growing crops without using harmful fertilizers and pesticides. The new approach of this holistic system is designed to optimize the productivity which is widely adopted by the people as they have become highly conscious about their health and food; they consume. Organic Farming works in harmony with nature; promoting ecological governance and maintains economic stability. </span></p>
							<p align="justify"><span style="font-family: Calibri, serif;">This new trend of organic farming is not only widely used by the farmers but also by the urban individuals. It helps to avoid the use of synthetic materials such as fertilizers, pesticides, etc thereby making the produce more organic and healthy. People have also aroused the need to consume organic produce; free from any pesticides. </span></p>
							<p align="justify"><span style="font-family: Calibri, serif;">The traditional farming system involves growing of crops early to yield abundant produce has been discouraged which has made organic farming the need of the hour. Organic Farming can be a viable alternative to the conventional farming practices which were adopted in the ancient times.</span></p>
							<p align="justify"><span style="font-family: Calibri, serif;">Organic Farming helps to safeguard you against the toxic chemicals, to live in a more responsible society. </span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="welcome-box tcp_gray2">
                            <i class="fa fa-sun-o bg_white brd_color_gray3 tc_gray3"></i>
                            <h3 class="tc_dark tc_green_h">Solar Energy</h3>
                            <p>Solar Power has evidently become the new trend of reducing the carbon footprint.</p>
                            <a href="#ow_wel-2" class="mfp-content tc_dark tc_green_h">Read More</a>
                            <div class="zoom-anim-dialog mfp-hide small-dialog" id="ow_wel-2">
                                <h3 class="tc_dark text-center">Solar Energy</h3>
                                <p align="justify">Solar Power has evidently become the new trend of reducing the carbon footprint. Our team encourages the Eco stays owners to use solar plants to reap all the solar energy advantages. Apart from the many financial benefits, there are certainly other interesting facts to use solar energy:</span></p>
							<ul>
							<li style="text-align: justify;"><span style="font-family: Calibri, serif;">Solar Power is a great way to minimize the release of any greenhouse gases.</span></span></li>
							<li>
							<p align="justify"><span style="font-family: Calibri, serif;">Solar electricity boosts our electricity independence as well. Enjoy the cheap electricity throughout the day- since the sun will never turn on its</span></span> prices!</span></p>
							</li>
							<li>
							<p align="justify"><span style="font-family: Calibri, serif;">Solar power is stored from the rays of the sun which is a free source of energy. It causes less electricity loss.</span></span></p>
							</li>
							<li>
							<p align="justify"><span style="font-family: Calibri, serif;">Solar</span></span> energy does not pollute our Mother Earth in any way and it represents a clean, green source of energy.</span></p>
							</li>
							<li>
							<p align="justify"><span style="font-family: Calibri, serif;">Solar battery storage systems can also help to store electricity for cloudy and rainy days and night time also.</span></span></p>
							</li>
							</ul>
								</ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="welcome-box tcp_gray2">
                            <i class="fa fa-recycle bg_white brd_color_gray3 tc_gray3"></i>
                            <h3 class="tc_dark tc_green_h">Greenhouse Effect</h3>
                            <p>Sustainable Tourism has recently become the new trend in tourism industry.</p>
                            <a href="#ow_wel-3" class="mfp-content tc_dark tc_green_h">Read More</a>
                            <div class="zoom-anim-dialog mfp-hide small-dialog" id="ow_wel-3">
                                <h3 class="tc_dark text-center">Greenhouse Effect</h3>
                                <p align="justify"><span style="font-family: Calibri, serif;">Sustainable Tourism has recently become the new trend in tourism industry. Providing the best of the experiences to the visitors while ensuring the preservation of natural resources, it is a new facet of tourism reinforcing the beauty of the planet.
                                </span></p>
                                <p align="justify"><span style="font-family: Calibri, serif;">Coming out of their concrete buildings, people are now looking for some real experiences. The exponential growth in the tourism industry has dramatically benefitted the economy, providing employment opportunities to the natives of a region and promoting local craft. India too has benefitted from rising tourism, especially in states like Uttarakhand, tourism serves as one of the significant sources of income.
                                </span></p>
                                <p align="justify"><span style="font-family: Calibri, serif;">The green house effect is the real problem caused by the emission of harmful gases in large quantities such as carbon dioxide. Tourism industry, being a bigger sector is highly responsible for the green house gas emissions in a number of ways.
                                </span></p>
                                <p align="justify"><span style="font-family: Calibri, serif;">With the increasing inflow of tourists, the onus lies on the government, the tourists and the locals to prevent the negative impact of tourism on the environment – both natural and built. ECOFNB consciously follows and work in favor of environment thereby reducing the carbon footprint.
                                </span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="welcome-box tcp_gray2">
                            <i class="fa fa-pagelines bg_white brd_color_gray3 tc_gray3"></i>
                            <h3 class="tc_dark tc_green_h">Saving Forests</h3>
                            <p>Forests covering a third of all the land on Earth provide the diversified species in the world </p>
                            <a href="#ow_wel-4" class="mfp-content tc_dark tc_green_h">Read More</a>
                            <div class="zoom-anim-dialog mfp-hide small-dialog" id="ow_wel-4">
                                <h3 class="tc_dark text-center">Saving Forests</h3>
                                <p align="justify"><span style="font-family: Calibri, serif;">Forests covering a third of all the land on Earth provide the diversified species in the world. Being an integral aspect of our existence, forests provide us the vital organic infrastructure. </span></p>
								<p align="justify"><span style="font-family: Calibri, serif;">Lately, urbanization has struck an axe on the forest cover around the globe. We are responsible for the widespread deforestation, thereby clearing the millions of acres of forest land every year. There are numerous reasons we should be thankful to trees and forests, despite the growing pollution, the massive increase in leaving the carbon footprint.</span></span></p>
								<p align="justify"><span style="font-family: Calibri, serif;">Forests have been silently giving some support to the idea of sustainable tourism. The natural beauty and the peaceful environment attract many tourists to stay in the nearby farm stays or home stays, to rejuvenate and revitalize themselves.</span></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="welcome-box tcp_gray2">
                            <i class="fa fa-tint bg_white brd_color_gray3 tc_gray3"></i>
                            <h3 class="tc_dark tc_green_h">CLEAN WATER</h3>
                            <p>The pristine beauty of Uttarakhand attracts a humongous lot of tourists every year to have some unforgettable experience</p>
                            <a href="#ow_wel-5" class="mfp-content tc_dark tc_green_h">Read More</a>
                            <div class="zoom-anim-dialog mfp-hide small-dialog" id="ow_wel-5">
                                <h3 class="tc_dark text-center">CLEAN WATER</h3>
                               <p align="justify"><span style="font-family: Calibri, serif;">The pristine beauty of Uttarakhand attracts a humongous lot of tourists every year to have some unforgettable experience. But due to the sudden elevation of degradation of natural resources like water is a big concern. Our team has taken an initiative to practice sustainable tourism. Even the famous hill stations of Uttarakhand like Nainital, Bhimtal, Ranikhet, etc are combating with the issue of water shortage and the primary reason behind it is the increase in tourism.</span></p>
								<p align="justify"><span style="font-family: Calibri, serif;">Clean water; being a natural resource available to us is not infinite. It is essential for life, but most people do not realize the need to save water. Many of us carelessly use water for drinking, preparing food, for health and sanitation.</span></p>
								<p align="justify"><span style="font-family: Calibri, serif;">Many of the Ecostays listed with us adopt sustainable practices like using energy efficient resources, water waste management, water recycling, etc. Clean water is a rising concern for our community and we must adopt sustainable tourism practices to fight this issue collectively.</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="welcome-box tcp_gray2">
                            <i class="fa fa-ban bg_white brd_color_gray3 tc_gray3"></i>
                            <h3 class="tc_dark tc_green_h">Stop Pollution</h3>
                            <p>We have one lively planet in the universe to live on currently, which makes pollution a great concern for us.</p>
                            <a href="#ow_wel-6" class="mfp-content tc_dark tc_green_h">Read More</a>
                            <div class="zoom-anim-dialog mfp-hide small-dialog" id="ow_wel-6">
                                <h3 class="tc_dark text-center">Stop Pollution</h3>
                                <p align="justify"><span style="font-family: Calibri, serif;">We have one lively planet in the universe to live on currently, which makes pollution a great concern for us. Pollution comes in various forms and we should make our efforts to reduce it. Whether it&rsquo;s the polluted air we breathe or the harmful disposal of chemicals and waste products in the water; pollution has increased significantly. It is present in our atmosphere in different forms such as; Air Pollution; a mix of particles, gases and harmful concentrations that pollute the air, making it less breathable; Water Pollution; when hazardous chemicals are dumped into the water supply ; Soil Pollution; the disposal of waste and chemicals in the soil where we plant our crops, thereby deteriorating it&rsquo;s fertility, the negative effects of light pollution which are detrimental for humans and animals; or the noise pollution caused by the noise generating items like cars, factories, airplane, and other things as well; making a lot of sound.</span></p>
								<p align="justify"><span style="font-family: Calibri, serif;">Our concern to control pollution, since it is:</span></p>
								<ul>
								<li>
								<p align="justify"><span style="font-family: Calibri, serif;">Bad for our Health</span></span></p>
								</li>
								<li>
								<p align="justify"><span style="font-family: Calibri, serif;">Ha</span></span>rmful for animals survival, and</span></p>
								</li>
								<li>
								<p align="justify"><span style="font-family: Calibri, serif;">Deteriorating the natural resources</span></span></p>
								</li>
								</ul>
								<p align="justify"><span style="font-family: Calibri, serif;">We have made efforts in reducing pollution by minimizing our industrial waste and assisting our Valued Partners, encouraging them to use Solar Panels and Solar Geysers for electricity and water supply, using cloth shopping bags instead of plastic bags, using glass water bottles and reusing them, using cloth towels instead of tissues to reduce pollution.</span></p>
								<p align="justify"><span style="font-family: Calibri, serif;">We must remember, it&rsquo;s a precious gift to our planet and it&rsquo;s up to us to take care of it.</span></p>
                            </div>
                        </div>
                    </div>
                  
                </div><!-- Row /- -->

                <div class="clearfix"></div>
                <div class="view-more">
                    <a href="<%=blogs_short_blog_url%>" class="tc_white bg_green tc_white_h bg_black_h">view more</a>
                </div>
            </div>
     </div>            
</div>