	<!-- Page Banner -->
<div class="container-fluid no-left-padding no-right-padding page-banner">
    <!-- Container -->
    <div class="container">
        <h3 class="tc_white">Eco Friendly</h3>
        <ol class="breadcrumb">
            <li><a class="tc_white tc_white_h" href="/">Home</a></li>
            <li class="active tc_white">Eco Friendly</li>
        </ol>
    </div><!-- Container /- -->
</div><!-- Page Banner /- -->

<main class="site-main">

    <!-- Blog 3 Column Grid -->
    <div class="container-fluid no-left-padding no-right-padding blog-grid blog-grid-2-col">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="type-post">
                        <!-- Entry Cover -->
                        <div class="entry-cover">
                            <a href="#"><img src="assets/images/blog-2-col-1.jpg" alt="Blog" /></a>
                        </div><!-- Entry Cover /- -->
                        <!-- Entry Header -->
                        <div class="entry-header bg_dark2">
                            <h3 class="entry-title tc_white"><a class="tc_white tc_green_h" href="#">Farm or home plantations are typically ....</a></h3>
                            <div class="entry-meta">
                                <span><i class="fa fa-calendar-o tc_green"></i><a class="tc_white tc_green_h" href="#">Jun 01, 2017</a></span>
                                <span><i class="fa fa-user tc_green"></i><a class="tc_white tc_green_h" href="#">Admin</a></span>
                                <span><i class="fa fa-comments-o tc_green"></i><a class="tc_white tc_green_h" href="#">0</a></span>
                            </div>
                        </div><!-- Entry Header /- -->
                        <!-- Entry Content -->
                        <div class="entry-content brd_color_light_gray tcp_gray2">
                            <p>Industrial plantations are actively managed for the commercial production of forest products. Industrial plantations are usually large-scale. Individual blocks are usually even-aged and often consist of just one or two species.</p>
                            <a class="tc_dark brd_color_dark tc_white_h brd_color_green_h bg_green_h" href="#">Read More</a>
                        </div><!-- Entry Content /- -->
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="type-post">
                        <!-- Entry Cover -->
                        <div class="entry-cover">
                            <a href="#"><img src="assets/images/blog-2-col-2.jpg" alt="Blog" /></a>
                        </div><!-- Entry Cover /- -->
                        <!-- Entry Header -->
                        <div class="entry-header bg_dark2">
                            <h3 class="entry-title tc_white"><a class="tc_white tc_green_h" href="#">paper and wood industries and other private ...</a></h3>
                            <div class="entry-meta">
                                <span><i class="fa fa-calendar-o tc_green"></i><a class="tc_white tc_green_h" href="#">Jun 01, 2017</a></span>
                                <span><i class="fa fa-user tc_green"></i><a class="tc_white tc_green_h" href="#">Admin</a></span>
                                <span><i class="fa fa-comments-o tc_green"></i><a class="tc_white tc_green_h" href="#">0</a></span>
                            </div>
                        </div><!-- Entry Header /- -->
                        <!-- Entry Content -->
                        <div class="entry-content brd_color_light_gray tcp_gray2">
                            <p>These species can be exotic or indigenous. The plants used for the plantation are often genetically altered for desired traits such as growth and resistance to pests and diseases in general and specific traits</p>
                            <a class="tc_dark brd_color_dark tc_white_h brd_color_green_h bg_green_h" href="#">Read More</a>
                        </div><!-- Entry Content /- -->
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="type-post">
                        <!-- Entry Cover -->
                        <div class="entry-cover">
                            <a href="#"><img src="assets/images/blog-2-col-3.jpg" alt="Blog" /></a>
                        </div><!-- Entry Cover /- -->
                        <!-- Entry Header -->
                        <div class="entry-header bg_dark2">
                            <h3 class="entry-title tc_white"><a class="tc_white tc_green_h" href="#">In the first few years until the canopy closes</a></h3>
                            <div class="entry-meta">
                                <span><i class="fa fa-calendar-o tc_green"></i><a class="tc_white tc_green_h" href="#">Jun 01, 2017</a></span>
                                <span><i class="fa fa-user tc_green"></i><a class="tc_white tc_green_h" href="#">Admin</a></span>
                                <span><i class="fa fa-comments-o tc_green"></i><a class="tc_white tc_green_h" href="#">0</a></span>
                            </div>
                        </div><!-- Entry Header /- -->
                        <!-- Entry Content -->
                        <div class="entry-content brd_color_light_gray tcp_gray2">
                            <p>While forests managed for wood production commonly yield between 1 and 3 cubic meters per hectare per year, plantations of fast-growing species commonly yield between 20 and 30 cubic meters or more per hectare annually</p>
                            <a class="tc_dark brd_color_dark tc_white_h brd_color_green_h bg_green_h" href="#">Read More</a>
                        </div><!-- Entry Content /- -->
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="type-post">
                        <!-- Entry Cover -->
                        <div class="entry-cover">
                            <a href="#"><img src="assets/images/blog-2-col-4.jpg" alt="Blog" /></a>
                        </div><!-- Entry Cover /- -->
                        <!-- Entry Header -->
                        <div class="entry-header bg_dark2">
                            <h3 class="entry-title tc_white"><a class="tc_white tc_green_h" href="#">Wood production on a tree plantation is </a></h3>
                            <div class="entry-meta">
                                <span><i class="fa fa-calendar-o tc_green"></i><a class="tc_white tc_green_h" href="#">Jun 01, 2017</a></span>
                                <span><i class="fa fa-user tc_green"></i><a class="tc_white tc_green_h" href="#">Admin</a></span>
                                <span><i class="fa fa-comments-o tc_green"></i><a class="tc_white tc_green_h" href="#">0</a></span>
                            </div>
                        </div><!-- Entry Header /- -->
                        <!-- Entry Content -->
                        <div class="entry-content brd_color_light_gray tcp_gray2">
                            <p>Many forestry experts claim that the establishment of plantations will reduce or eliminate the need to exploit natural forest for wood production. In principle this is true because due to the high productivity.</p>
                            <a class="tc_dark brd_color_dark tc_white_h brd_color_green_h bg_green_h" href="#">Read More</a>
                        </div><!-- Entry Content /- -->
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="type-post">
                        <!-- Entry Cover -->
                        <div class="entry-cover">
                            <a href="#"><img src="assets/images/blog-2-col-5.jpg" alt="Blog" /></a>
                        </div><!-- Entry Cover /- -->
                        <!-- Entry Header -->
                        <div class="entry-header bg_dark2">
                            <h3 class="entry-title tc_white"><a class="tc_white tc_green_h" href="#">Many point to the example of New Zealand</a></h3>
                            <div class="entry-meta">
                                <span><i class="fa fa-calendar-o tc_green"></i><a class="tc_white tc_green_h" href="#">Jun 01, 2017</a></span>
                                <span><i class="fa fa-user tc_green"></i><a class="tc_white tc_green_h" href="#">Admin</a></span>
                                <span><i class="fa fa-comments-o tc_green"></i><a class="tc_white tc_green_h" href="#">0</a></span>
                            </div>
                        </div><!-- Entry Header /- -->
                        <!-- Entry Content -->
                        <div class="entry-content brd_color_light_gray tcp_gray2">
                            <p>Plantations established purely for the production of fiber provide a much narrower range of services than the original natural forest for the local people. Plantations es of services than the original natural forest for the local people.</p>
                            <a class="tc_dark brd_color_dark tc_white_h brd_color_green_h bg_green_h" href="#">Read More</a>
                        </div><!-- Entry Content /- -->
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="type-post">
                        <!-- Entry Cover -->
                        <div class="entry-cover">
                            <a href="#"><img src="assets/images/blog-2-col-6.jpg" alt="Blog" /></a>
                        </div><!-- Entry Cover /- -->
                        <!-- Entry Header -->
                        <div class="entry-header bg_dark2">
                            <h3 class="entry-title tc_white"><a class="tc_white tc_green_h" href="#">Probably the single most important factor a.</a></h3>
                            <div class="entry-meta">
                                <span><i class="fa fa-calendar-o tc_green"></i><a class="tc_white tc_green_h" href="#">Jun 01, 2017</a></span>
                                <span><i class="fa fa-user tc_green"></i><a class="tc_white tc_green_h" href="#">Admin</a></span>
                                <span><i class="fa fa-comments-o tc_green"></i><a class="tc_white tc_green_h" href="#">0</a></span>
                            </div>
                        </div><!-- Entry Header /- -->
                        <!-- Entry Content -->
                        <div class="entry-content brd_color_light_gray tcp_gray2">
                            <p>Farm or home plantations are typically established for the production of timber and fire wood for home use and sometimes for sale. Management may be less intensive than with Industrial plantations.</p>
                            <a class="tc_dark brd_color_dark tc_white_h brd_color_green_h bg_green_h" href="#">Read More</a>
                        </div><!-- Entry Content /- -->
                    </div>
                </div>
            </div><!-- Row /- -->

            

        </div><!-- Container /- -->
    </div><!-- Blog 3 Column Grid /- -->


</main>
