<!-- Page Banner -->
<div class="container-fluid no-left-padding no-right-padding page-banner no-bottom-margin">
    <div class="container">
        <h3 class="tc_white">24x7 Support</h3>
    </div><!-- Container /- -->
</div><!-- Page Banner /- -->
<div class="container">
   <div class="row">
      <div class="col-md-4">
         <br/><br/><br/>
            <aside class="widget widget_contact">
            <!-- <h3 class="contact_heading">CONTACT US</h3> -->
            <p class="contact_us"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Jagannath Complex, First Floor, <br/>&nbsp;&nbsp;Nainital Road Haldwani</p>
            <p class="contact_us"><i class="fa fa-mobile"></i><a href="tel:+917078877002">&nbsp;&nbsp;(+91) 7078877002</a></p>
            <p class="contact_us"><i class="fa fa-envelope"></i><a href="mailto:youremail@mail.com">&nbsp;&nbsp;info@ecofnb.com</a></p>
            <p class="contact_us"><i class="fa fa-internet-explorer"></i><a target="_blank" href="http://www.ecofnb.com">&nbsp;&nbsp;www.ecofnb.com</a></p>
            </aside>
      </div>
      <div class="col-md-4">
         <img class="img-responsive" src="https://img.deszone.net/2020/01/online-support-vector-free-illustration4.jpg" / >
      </div>
      <div class="col-md-4">
         <img src="https://www.24hdevelopers.com/wp-content/uploads/2019/01/a.gif" class="img-responsive aman" / >
         
      </div>
   </div>
</div>
<style type="text/css">
   img.img-responsive.aman {
    width: 241px !important;
}
</style>